.page {
  box-sizing: border-box;
  width: 100%;
  flex: 1;
  position: relative;
  background-color: var(--weui-BG-0);
  padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
